#navbar {
  border: 1px solid rgb(233, 233, 233);
  border-width: 1px 0px 1px 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 20px;
  gap: 20px;
}

#navbar a {
  background-color: #a8a8a8;
  border-radius: 5px;
  border: 1px solid black;
  text-decoration: none;
  color: black;
  padding: 10px 30px 10px 30px;
}

#navbar a:hover {
  cursor: pointer;
  color: #91a4d2;
}

#contactus {
  background-color: rgb(33, 186, 69);
  display: block;
  width: 100%;
  position: fixed;
  bottom: 0;
  padding: 20px;
  height: 100px;
}

#navbar2 {
  /* border-right: 1px solid rgb(233, 233, 233); */
  /* border-bottom: 1px solid rgb(233, 233, 233); */
  display: flex;
  flex-direction: row;
  padding: 24px;
  gap: 20px;
  width: 7rem;
}

.hr {
  background-color: #444444;
  height: 4px;
  margin-bottom: 4px;
}

#navbar2 a {
  margin: auto;
}

.seperator {
  display: inline-block;
  padding: 10px 20px;
  background: #444;
  border: 4px solid #222;
  margin: auto;
}

/* #contactus a {
padding: 10px 30px 10px 30px;
background-color: #a8a8a8;
} */