.outer-container {
  border: 3px inset #000;
  width: 75vw;
  height: 85vh;
  margin: 100px auto;
  position: relative;
  background: #243D83;
}

.inner-container {
  border: 2px inset #ff0;
  width: 40vw;
  height: 50vh;
  margin: 200px auto;
}

.box {
  width: 150px;
  height: 150px;
  color: #fff;
  padding: 1rem;
}

/* position is set wrt parent element */
.relative {
  background-color: #f00;
  position: relative;
  top: 0px;
  left: 300px;
}

/* position is set wrt closest parent element having position property */
.absolute {
  background-color: #00f;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

/* position is set wrt screen if specified */
.fixed {
  background-color: green;
  position: fixed;
  top: 256px;
  left: 400px;
}

/* position is set wrt parent element */
/* sticks inside the parent even if the position is out of the screen */
.sticky {
  background-color: #000;
  position: sticky;
  top: 0px;
  bottom: 0px;
}

.div-white {
  width: 72px;
  height: 72px;
  background: #FFFFFF;
  position: absolute;
}

.div-blue {
  width: 100px;
  height: 120px;
  background: #6592CF;
  position: absolute;
}